.table {
    max-width: 90%;
    margin: 50px auto;
    th{
        line-height: 60px;
        font-size: 18px;
        color: #4f4d4d !important;
    }
    td{
        line-height: 50px;
        font-size: 16px;
    }
}