.basic-chart-count-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;


  .view-filter-data {
    font-size: 40px;
    word-break: break-all;
  }
}

.basic-chart-count-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10%;

  .view-filter-data {
    font-size: 50px;
    word-break: break-all;
  }
}